USE [master]
GO
/****** Object:  Database [QUANLYTRASUA]    Script Date: 04/11/2025 03:37:44 ******/
CREATE DATABASE [QUANLYTRASUA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYTRASUA', FILENAME = N'C:\Users\John\QUANLYTRASUA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYTRASUA_log', FILENAME = N'C:\Users\John\QUANLYTRASUA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYTRASUA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYTRASUA]
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[Nam] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
	[TienLuong] [real] NULL,
 CONSTRAINT [PK_BANGLUONG] PRIMARY KEY CLUSTERED 
(
	[Nam] ASC,
	[Thang] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALAM]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALAM](
	[MaCa] [nchar](10) NOT NULL,
	[ThoiGianBatDau] [time](7) NULL,
	[ThoiGianKetThuc] [time](7) NULL,
	[LuongTheoGio] [float] NOT NULL,
	[NhanVienToiDa] [int] NULL,
 CONSTRAINT [PK_CALAM] PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI](
	[Nam] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[LuongNV] [real] NULL,
	[PhiNguyenLieu] [real] NULL,
	[TienDien] [real] NULL,
	[TienNuoc] [real] NULL,
	[PhiVeSinh] [real] NULL,
	[Tong] [real] NULL,
 CONSTRAINT [PK_CHI] PRIMARY KEY CLUSTERED 
(
	[Nam] ASC,
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHD] [nchar](10) NOT NULL,
	[MaMH] [nchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Tien] [real] NULL,
	[DiemTichLuy] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUPON]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUPON](
	[MaCP] [nchar](10) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[DiemApDung] [int] NULL,
	[MucGiam] [real] NULL,
	[GiamToiDa] [real] NULL,
 CONSTRAINT [PK_COUPON] PRIMARY KEY CLUSTERED 
(
	[MaCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[MaTK] [nchar](10) NOT NULL,
	[MaND] [nchar](10) NOT NULL,
	[TenDangNhap] [nchar](50) NOT NULL,
	[MatKhau] [nchar](50) NOT NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP2]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP2](
	[MaTK] [nchar](10) NOT NULL,
	[MaND] [nchar](10) NOT NULL,
	[TenDangNhap] [nchar](50) NOT NULL,
	[MatKhau] [nchar](50) NOT NULL,
 CONSTRAINT [PK_DANGNHAP2] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHTHU]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHU](
	[Nam] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[DoanhThu] [real] NULL,
	[SoDonHang] [int] NULL,
 CONSTRAINT [PK_DOANHTHU] PRIMARY KEY CLUSTERED 
(
	[Nam] ASC,
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [nchar](10) NOT NULL,
	[MaKH] [nchar](10) NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
	[ThanhTien] [real] NOT NULL,
	[NgayXuatHD] [date] NOT NULL,
	[MaCP] [nchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nchar](10) NOT NULL,
	[TenKH] [nvarchar](max) NOT NULL,
	[SDT] [char](20) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DiemTichLuy] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOINHUAN]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOINHUAN](
	[Nam] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[DoanhThu] [real] NULL,
	[ChiPhi] [real] NULL,
	[LoiNhuan] [real] NULL,
 CONSTRAINT [PK_LOINHUAN] PRIMARY KEY CLUSTERED 
(
	[Nam] ASC,
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MaMH] [nchar](10) NOT NULL,
	[TenMH] [nvarchar](max) NOT NULL,
	[GiaTien] [real] NOT NULL,
	[DiemTichLuy] [int] NOT NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](max) NOT NULL,
	[SDT] [char](20) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NgayNV] [date] NOT NULL,
	[CMND] [nchar](20) NOT NULL,
	[ConLam] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MaQL] [nchar](10) NOT NULL,
	[TenQL] [nvarchar](50) NOT NULL,
	[SDT] [nchar](20) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[CMND] [nchar](20) NOT NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[MaQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLYLUONG]    Script Date: 04/11/2025 03:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLYLUONG](
	[ThoiGian] [date] NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
	[MaCa] [nchar](10) NOT NULL,
	[MucDoHoanThanh] [real] NULL,
	[Luong] [real] NULL,
 CONSTRAINT [PK_QUANLYLUONG] PRIMARY KEY CLUSTERED 
(
	[ThoiGian] ASC,
	[MaNV] ASC,
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGLUONG] ([Nam], [Thang], [MaNV], [TienLuong]) VALUES (2021, 1, N'NV002     ', 120000)
INSERT [dbo].[BANGLUONG] ([Nam], [Thang], [MaNV], [TienLuong]) VALUES (2021, 1, N'NV004     ', 100000)
INSERT [dbo].[BANGLUONG] ([Nam], [Thang], [MaNV], [TienLuong]) VALUES (2021, 1, N'NV006     ', 50000)
GO
INSERT [dbo].[CALAM] ([MaCa], [ThoiGianBatDau], [ThoiGianKetThuc], [LuongTheoGio], [NhanVienToiDa]) VALUES (N'CC        ', CAST(N'12:00:00' AS Time), CAST(N'16:00:00' AS Time), 25000, 3)
INSERT [dbo].[CALAM] ([MaCa], [ThoiGianBatDau], [ThoiGianKetThuc], [LuongTheoGio], [NhanVienToiDa]) VALUES (N'CS        ', CAST(N'07:00:00' AS Time), CAST(N'11:00:00' AS Time), 25000, 2)
INSERT [dbo].[CALAM] ([MaCa], [ThoiGianBatDau], [ThoiGianKetThuc], [LuongTheoGio], [NhanVienToiDa]) VALUES (N'CT        ', CAST(N'17:00:00' AS Time), CAST(N'21:00:00' AS Time), 30000, 3)
GO
INSERT [dbo].[CHI] ([Nam], [Thang], [LuongNV], [PhiNguyenLieu], [TienDien], [TienNuoc], [PhiVeSinh], [Tong]) VALUES (2021, 1, 2000000, 1000000, 500000, 200000, 500000, 4200000)
INSERT [dbo].[CHI] ([Nam], [Thang], [LuongNV], [PhiNguyenLieu], [TienDien], [TienNuoc], [PhiVeSinh], [Tong]) VALUES (2021, 2, 2000000, 1100000, 600000, 420000, 500000, 4620000)
INSERT [dbo].[CHI] ([Nam], [Thang], [LuongNV], [PhiNguyenLieu], [TienDien], [TienNuoc], [PhiVeSinh], [Tong]) VALUES (2021, 3, 2000000, 1200000, 500000, 348000, 500000, 4548000)
GO
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaMH], [SoLuong], [Tien], [DiemTichLuy]) VALUES (N'HD0001    ', N'HH021     ', 4, 100000, 28)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaMH], [SoLuong], [Tien], [DiemTichLuy]) VALUES (N'HD0002    ', N'HH020     ', 3, 75000, 21)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaMH], [SoLuong], [Tien], [DiemTichLuy]) VALUES (N'HD0003    ', N'HH025     ', 2, 70000, 30)
GO
INSERT [dbo].[COUPON] ([MaCP], [MoTa], [NgayBatDau], [NgayKetThuc], [DiemApDung], [MucGiam], [GiamToiDa]) VALUES (N'MUNG10321 ', N'Giảm 30% và giảm tối đa 25k', CAST(N'2021-03-01' AS Date), CAST(N'2021-03-15' AS Date), 0, 0.25, 25000)
INSERT [dbo].[COUPON] ([MaCP], [MoTa], [NgayBatDau], [NgayKetThuc], [DiemApDung], [MucGiam], [GiamToiDa]) VALUES (N'MUNG30421 ', N'Giảm 30% và giảm tối đa 25k', CAST(N'2021-04-28' AS Date), CAST(N'2021-05-08' AS Date), 0, 0.3, 25000)
INSERT [dbo].[COUPON] ([MaCP], [MoTa], [NgayBatDau], [NgayKetThuc], [DiemApDung], [MucGiam], [GiamToiDa]) VALUES (N'MUNG30422 ', N'Giảm 30% và giảm tối đa 25k', CAST(N'2022-04-28' AS Date), CAST(N'2022-05-08' AS Date), 0, 0.3, 25000)
GO
INSERT [dbo].[DANGNHAP] ([MaTK], [MaND], [TenDangNhap], [MatKhau]) VALUES (N'TK0001    ', N'QL001     ', N'admin                                             ', N'123456                                            ')
INSERT [dbo].[DANGNHAP] ([MaTK], [MaND], [TenDangNhap], [MatKhau]) VALUES (N'TK0002    ', N'QL002     ', N'admin2                                            ', N'123456                                            ')
INSERT [dbo].[DANGNHAP] ([MaTK], [MaND], [TenDangNhap], [MatKhau]) VALUES (N'TK0003    ', N'QL003     ', N'admin3                                            ', N'123456                                            ')
GO
INSERT [dbo].[DANGNHAP2] ([MaTK], [MaND], [TenDangNhap], [MatKhau]) VALUES (N'TK0004    ', N'NV001     ', N'nxp                                               ', N'123456                                            ')
INSERT [dbo].[DANGNHAP2] ([MaTK], [MaND], [TenDangNhap], [MatKhau]) VALUES (N'TK0005    ', N'NV002     ', N'thudiem                                           ', N'123456                                            ')
INSERT [dbo].[DANGNHAP2] ([MaTK], [MaND], [TenDangNhap], [MatKhau]) VALUES (N'TK0006    ', N'NV003     ', N'thuHa                                             ', N'ha121212                                          ')
GO
INSERT [dbo].[DOANHTHU] ([Nam], [Thang], [DoanhThu], [SoDonHang]) VALUES (2021, 1, 7000000, 680)
INSERT [dbo].[DOANHTHU] ([Nam], [Thang], [DoanhThu], [SoDonHang]) VALUES (2021, 2, 1E+07, 250)
INSERT [dbo].[DOANHTHU] ([Nam], [Thang], [DoanhThu], [SoDonHang]) VALUES (2021, 3, 1.1E+07, 261)
GO
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [ThanhTien], [NgayXuatHD], [MaCP]) VALUES (N'HD0001    ', N'KH0001    ', N'NV008     ', 75000, CAST(N'2021-05-04' AS Date), N'MUNG30421 ')
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [ThanhTien], [NgayXuatHD], [MaCP]) VALUES (N'HD0002    ', N'KH0002    ', N'NV001     ', 52500, CAST(N'2021-05-05' AS Date), N'MUNG30421 ')
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [ThanhTien], [NgayXuatHD], [MaCP]) VALUES (N'HD0003    ', N'KH0003    ', N'NV002     ', 75000, CAST(N'2021-05-06' AS Date), N'MUNG30421 ')
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [DiaChi], [DiemTichLuy]) VALUES (N'KH0001    ', N'Nguyễn Văn An', N'0343998584          ', N'Võ Văn Ngân, Thủ Đức', 5)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [DiaChi], [DiemTichLuy]) VALUES (N'KH0002    ', N'Nguyễn Dương Cẩm Dương', N'0342837833          ', N'Trường Thọ, Thủ Đức', 24)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [DiaChi], [DiemTichLuy]) VALUES (N'KH0003    ', N'Ngô Thế Hùng', N'0363457457          ', N'Hoàng Diệu, Thủ Đức', 25)
GO
INSERT [dbo].[LOINHUAN] ([Nam], [Thang], [DoanhThu], [ChiPhi], [LoiNhuan]) VALUES (2021, 1, 7000000, 4200000, 2800000)
INSERT [dbo].[LOINHUAN] ([Nam], [Thang], [DoanhThu], [ChiPhi], [LoiNhuan]) VALUES (2021, 2, 1E+07, 4620000, 5380000)
INSERT [dbo].[LOINHUAN] ([Nam], [Thang], [DoanhThu], [ChiPhi], [LoiNhuan]) VALUES (2021, 3, 1.1E+07, 4548000, 6452000)
GO
INSERT [dbo].[MENU] ([MaMH], [TenMH], [GiaTien], [DiemTichLuy]) VALUES (N'HH001     ', N'Trà sữa truyền thống', 20000, 5)
INSERT [dbo].[MENU] ([MaMH], [TenMH], [GiaTien], [DiemTichLuy]) VALUES (N'HH002     ', N'Trà sữa socola', 25000, 7)
INSERT [dbo].[MENU] ([MaMH], [TenMH], [GiaTien], [DiemTichLuy]) VALUES (N'HH003     ', N'Trà sữa bạc hà', 25000, 7)
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SDT], [DiaChi], [NgayNV], [CMND], [ConLam]) VALUES (N'NV001     ', N'Trần Hà Cẩm Chi', N'0335454252          ', N'An Phú, Quận 2', CAST(N'2021-02-12' AS Date), N'225827227           ', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SDT], [DiaChi], [NgayNV], [CMND], [ConLam]) VALUES (N'NV002     ', N'Nguyễn Thị Tuyết Lan', N'0345243625          ', N'Hiệp Phú, Tân Phú', CAST(N'2021-04-13' AS Date), N'225856345           ', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SDT], [DiaChi], [NgayNV], [CMND], [ConLam]) VALUES (N'NV003     ', N'Lê Thị Thu Hà', N'0253654653          ', N'Cát Lái, quận 2', CAST(N'2021-05-22' AS Date), N'451683572           ', 1)
GO
INSERT [dbo].[QUANLY] ([MaQL], [TenQL], [SDT], [DiaChi], [CMND]) VALUES (N'QL001     ', N'Lê Thị Kim Lê', N'0262342725          ', N'Linh Trung, Thủ Đức', N'225827227           ')
INSERT [dbo].[QUANLY] ([MaQL], [TenQL], [SDT], [DiaChi], [CMND]) VALUES (N'QL002     ', N'Nguyễn Thị Cẩm Nguyên', N'0987364526          ', N'Tăng Nhơn Phú B, Quận 9', N'225867564           ')
INSERT [dbo].[QUANLY] ([MaQL], [TenQL], [SDT], [DiaChi], [CMND]) VALUES (N'QL003     ', N'Nguyễn Thị Thùy Trang', N'0346599879          ', N'Đông Hòa, Dĩ An, Bình Dương', N'225354198           ')
GO
INSERT [dbo].[QUANLYLUONG] ([ThoiGian], [MaNV], [MaCa], [MucDoHoanThanh], [Luong]) VALUES (CAST(N'2021-01-01' AS Date), N'NV006     ', N'CS        ', 0.5, 50000)
INSERT [dbo].[QUANLYLUONG] ([ThoiGian], [MaNV], [MaCa], [MucDoHoanThanh], [Luong]) VALUES (CAST(N'2021-01-02' AS Date), N'NV002     ', N'CT        ', 1, 120000)
INSERT [dbo].[QUANLYLUONG] ([ThoiGian], [MaNV], [MaCa], [MucDoHoanThanh], [Luong]) VALUES (CAST(N'2021-01-03' AS Date), N'NV004     ', N'CS        ', 1, 100000)
GO
ALTER TABLE [dbo].[BANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGLUONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[BANGLUONG] CHECK CONSTRAINT [FK_BANGLUONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_MENU] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MENU] ([MaMH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_MENU]
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANGNHAP_QUANLY] FOREIGN KEY([MaND])
REFERENCES [dbo].[QUANLY] ([MaQL])
GO
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [FK_DANGNHAP_QUANLY]
GO
ALTER TABLE [dbo].[DANGNHAP2]  WITH CHECK ADD  CONSTRAINT [FK_DANGNHAP2_NHANVIEN] FOREIGN KEY([MaND])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DANGNHAP2] CHECK CONSTRAINT [FK_DANGNHAP2_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_COUPON] FOREIGN KEY([MaCP])
REFERENCES [dbo].[COUPON] ([MaCP])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_COUPON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[LOINHUAN]  WITH CHECK ADD  CONSTRAINT [FK_LOINHUAN_CHI] FOREIGN KEY([Nam], [Thang])
REFERENCES [dbo].[CHI] ([Nam], [Thang])
GO
ALTER TABLE [dbo].[LOINHUAN] CHECK CONSTRAINT [FK_LOINHUAN_CHI]
GO
ALTER TABLE [dbo].[LOINHUAN]  WITH CHECK ADD  CONSTRAINT [FK_LOINHUAN_DOANHTHU] FOREIGN KEY([Nam], [Thang])
REFERENCES [dbo].[DOANHTHU] ([Nam], [Thang])
GO
ALTER TABLE [dbo].[LOINHUAN] CHECK CONSTRAINT [FK_LOINHUAN_DOANHTHU]
GO
ALTER TABLE [dbo].[QUANLYLUONG]  WITH CHECK ADD  CONSTRAINT [FK_QUANLYLUONG_CALAM] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CALAM] ([MaCa])
GO
ALTER TABLE [dbo].[QUANLYLUONG] CHECK CONSTRAINT [FK_QUANLYLUONG_CALAM]
GO
ALTER TABLE [dbo].[QUANLYLUONG]  WITH CHECK ADD  CONSTRAINT [FK_QUANLYLUONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[QUANLYLUONG] CHECK CONSTRAINT [FK_QUANLYLUONG_NHANVIEN]
GO
USE [master]
GO
